<h1>Add a New Stock</h1>

<% if @stock.errors.any? %>
<p>
  Error, try again
</p>
<% end %>


<%= form_tag "/stocks" do %>
  <div>
    <label>Company Name:</label>
    <input type="text" name="company_name" value="<%= @stock.company_name %>" required>
  </div>

  <div>
    <label style="padding: 0px 64px 0px 0px">Ticker:</label>
    <input type="text" name="ticker" value="<%= @stock.ticker %>" required>
  </div>

  <div>
    <label style="padding: 0px 16px 0px 0px">Current Price:</label>
    <input type="text" name="quote" value="<%= @stock.quote %>" required>
  </div>
  
  <div>
    <label style="padding: 0px 49px 0px 0px">Today's Price Change:</label>
    $<input type="text" name="price_change" value="<%= @stock.price_change %>" required>
  </div>
  
  <div>
    <label style="padding: 0px 16px 0px 0px">Today's Percentage Change:</label>
    <input type="text" name="percentage_change" value="<%= @stock.percentage_change %>" required>%
  </div>
  
   <div><b>Add to Portfolio: </b>
     <select name="portfolio_id">
      <% Portfolio.all.each do |p| %>
        <option value="<%= p.id %>"><%= p.title %></option>
      <% end %>
      </select>
   </div>
  
  
  <input type="submit" value="Add Stock">

<% end %>
